/* This is a print style sheet. The AmericaNew HTML file links to this stylesheet. */
@charset "utf-8";
/*  CSS Document for the fixed layout web page
	Developed by: Ali Torabi
	Script Date: April 7, 2016
*/

body, #sidebar, #main, #footer, #banner, p, h1, h2, h3 {
	font-size:12pt;
	font-family:"Times New Roman", Times, serif;
	color:#000;
	background-color:#fff;
}

#sidebar{
	float:none;
	width:auto;
}

img {
	display:none;
}

body{
	margin:3em;
}