/* This is a screen style sheet. The AmericaNew HTML file links to this stylesheet. */
@charset "utf-8";
/*  CSS Document for the fixed layout web page
	Developed by: Ali Torabi
	Script Date: April 5, 2016
*/
/*
Create:
1. #container
2. #banner
3. #sidebar
4. #main
5. #footer
*/

/* styling the body selector */
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* styling the container id selector */
#container{
	width:785px;
	font-size:12px;
	background-color:#f5f5dc;
	color:#000080;
}
/* styling the banner id selector */
#banner{
	width:775px;
	height:100px;
	margin-top:0;
	margin-bottom:10px;
	border:thick solid #000080;
	color:#000080;
	background-color:#fff;
	background-image:url("../images/Flag.gif");
	background-repeat:repeat-x;
	text-align:center;
	font-size:24px;
}
/* styling the sidebar id selector */
#sidebar{
	width:300px;
	float:left;
	border:thick inset #f00;
	padding:0.5em;
	padding-left:1em;
	background-image:url("../images/curtains.jpg");
	background-repeat:no-repeat;
	color:#fff;
	background-color:#f00;
}
#sidebar h3{
	width:250px;
	text-align:center;
	background-color:#000080;
	padding:0.2em;
}
#sidebar p{

}

#main{
	float: right;
	width:440px;
}
#main h2{
	height:60px;
	text-align:center;
	color:#fff;
	background-color:#000080;
	margin-top:0;
	padding:0.3em;
}
#main h3{
	margin:0;
	padding:0.5em;
	color:#fff;
	background-color:#f00;
	text-align:center;
}

#footer{
	height:50px;
	clear:both;
	color:#000;
	background-color:#f5f5dc;
	margin-top:0.5em;
	border:thin inset #000080;
	padding:0.5em;
	text-align:center;
	word-spacing:0.2em;
	letter-spacing:0.1em;
	text-transform: uppercase;
}